<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.conductor.story-backfiller</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/node</string>
        <string>/Users/MAC/Documents/projects/conductor/apps/story-backfiller/index.cjs</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CONDUCTOR_API</key>
        <string>http://localhost:7776</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/conductor-story-backfiller.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/conductor-story-backfiller.err</string>
</dict>
</plist>
